<?xml version="1.0"?>
<config>
    <modules>
        <Iwelt_Install>
            <version>0.1.0</version>
        </Iwelt_Install>
    </modules>
    <global>
        <models>
            <iwelt_install>
                <class>Iwelt_Install_Model</class>
            </iwelt_install>
            <install>
                <rewrite>
                    <config>Iwelt_Install_Model_Install_Config</config>
                    <installer_config>Iwelt_Install_Model_Install_Installer_Config</installer_config>
                    <installer_db>Iwelt_Install_Model_Install_Installer_Db</installer_db>
                </rewrite>
            </install>
        </models>
        <blocks>
            <iwelt_install>
                <class>Iwelt_Install_Block</class>
            </iwelt_install>
            <install>
                <rewrite>
                    <locale>Iwelt_Install_Block_Install_Locale</locale>
                    <config>Iwelt_Install_Block_Install_Config</config>
                </rewrite>
            </install>
        </blocks>
        <helpers>
            <iwelt_install>
                <class>Iwelt_Install_Helper</class>
            </iwelt_install>
        </helpers>
    </global>
    <default>
        <general>
            <locale>
                <code>de_DE</code>
            </locale>
        </general>
    </default>
    <frontend>
        <routers>
            <install>
                <args>
                    <modules>
                        <Iwelt_Install before="-">Iwelt_Install</Iwelt_Install>
                    </modules>
                </args>
            </install>
        </routers>
    </frontend>
</config>